@model MVC_Project.BackendWeb.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "/Views/Shared/_SimpleLayout.cshtml";
}

<div class="middle-box loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">ST</h1>
        </div>
        <h3>@System.Web.Configuration.WebConfigurationManager.AppSettings["AppName"]</h3>
        <div class="alert alert-info">
            Su contraseña ha expirado, la contraseña tiene un periodo de expiración de 30 días
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
            </div>
        }
        <div class="text-center">
            <h3>Cambiar contraseña</h3>
        </div>
        @using (Html.BeginForm("ChangePassword", "Auth", FormMethod.Post, new { @id = "passForm", @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <span class="help-block"></span>
            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                @Html.EditorFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <span class="help-block"></span>

            <span class="help-block"></span>
            <div class="form-group">

                @Html.LabelFor(x => x.ConfirmPassword)
                @Html.EditorFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmar contraseña", @required = "required" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
            <span class="help-block"></span>

            <div class="form-group">
                <span class="help-block"></span>
                <button type="submit" class="btn btn-primary block full-width m-b">Guardar nueva contraseña</button>
                <span class="help-block"></span>
            </div>
        }
    </div>
</div>
@section scripts{

    @Scripts.Render("~/plugins/validate")
}
