@model MVC_Project.BackendWeb.Models.AuthViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="765148629644-ehqbkj60uuotg1tb7ofe66jjf7j8gaut.apps.googleusercontent.com">

    <title> @System.Web.Configuration.WebConfigurationManager.AppSettings["AppName"] | @ViewLabels.AUTH_LOGIN_TITLE </title>

    @Styles.Render("~/Content/template/css")

    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/font-awesome/js")

    @Styles.Render("~/plugins/sweetAlertStyles")
    @Scripts.Render("~/plugins/sweetAlert")
    <style>
        .abcRioButtonBlue {
            display: inline-block;
        }
    </style>

</head>

<body class="gray-bg">
    <div style="position: absolute; top: 20px; right: 20px;">
        <div class="toast toast-warning" id="warning-toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
                <i class="fa fa-exclamation-circle"> </i>
                <strong class="mr-auto m-l-sm">Ups</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                @ViewBag.Error
            </div>
        </div>
        <div class="toast toast-info" id="info-toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
                <i class="fa fa-info-circle"> </i>
                <strong class="mr-auto m-l-sm">Info</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                @ViewBag.Message
            </div>
        </div>
    </div>
    @*<div style="padding:5px">
            @Html.ActionLink("Español", "ChangeLanguage", "Auth", new { lang = "es-MX" }, null) | @Html.ActionLink("Inglés", "ChangeLanguage", "Auth", new { lang = "en" }, null)
        </div>*@

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                @*<h1 class="logo-name">ST</h1>*@
                <img src="~/Images/logos/El20mx-logo-estes-donde-e.png" width="300" />
            </div>
            @*<h3>@System.Web.Configuration.WebConfigurationManager.AppSettings["AppName"]</h3>*@

            @*@if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="col-lg-12">
                        <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="col-lg-12">
                        <div class="alert alert-info" role="alert">@ViewBag.Message</div>
                    </div>
                }*@

            <p>@ViewLabels.AUTH_LOGIN_TITLE</p>
            @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary("Errors", new { @class = "alert alert-danger" })*@
                @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = @ViewLabels.USERNAME, @required = "required" })
                </div>
                <span class="help-block"></span>
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = @ViewLabels.PASSWORD, @required = "required" })
                </div>
                <span class="help-block"></span>
                <button type="submit" class="btn btn-color block full-width m-b">@ViewLabels.AUTH_LOGIN_SUBMIT</button>
                @*<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width="" onclick="Loguear()"></div>*@
                <button type="button" class="btn btn-color block full-width m-b" onclick="Loguear()">Entrar con Facebook</button>
                @*<br /><br />*@
                @*<div id="my-signin2"></div> data-onsuccess="onSignIn" onclick="onSignIn()"*@
                <div id="my-signin2" class="g-signin2"></div>

                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                </fb:login-button>
                <span class="help-block"></span>

                <br />
                <a href="javascript:void(0);" onclick="javascript:resetPassModal();" data-target="#modal-containerRecupera" data-toggle="modal"><small>@ViewLabels.AUTH_LOGIN_RECOVERPASS</small></a>
                <br />

                <p class="text-muted text-center"><small>¿No tienes una cuenta?</small> <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Index", "Register")">Crear una cuenta</a></p>


            }
        </div>
    </div>

    <div id="modal-containerRecupera" class="modal fade hidden-print" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content"></div>
        </div>
    </div>

    <a href="#" onclick="signOut();">Sign out google</a>
    <br />
    <a href="#" onclick="close();">Sign out facebook</a>
    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <!--Configuración de facebook-->
    <script src="~/Scripts/Facebook.js"></script>
    <!--Configuración de facebook-->
    <!--Configuración de Google-->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="~/Scripts/Google.js"></script>
    <!--Configuración de Google-->
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>*@
    <!--singOut-->

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <script type="text/javascript">
        $('#warning-toast').toast('show');
    </script>
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
        $('#info-toast').toast('show');
    </script>
}

<script>
    function onSignIn(googleUser) {
        console.log(googleUser)
        var profile = googleUser.getBasicProfile();
        console.log(profile, "usuario");
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
    //function onSuccess(googleUser) {
    //    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    //}
    //function onFailure(error) {
    //    console.log(error, "Error");
    //}
    //function renderButton() {
    //    gapi.signin2.render('my-signin2', {
    //        'scope': 'profile email',
    //        'width': 240,
    //        'height': 50,
    //        'longtitle': true,
    //        'theme': 'dark',
    //        'onsuccess': onSuccess,
    //        'onfailure': onFailure
    //    });
    //}

    function login() {
         $.ajax({
             url: '@Url.Action("ConvertirJson","Login")',
             data: { user: info.email, pass: info.id, facebook: true, rutaFace: info.picture.data.url },
             type: 'POST',
             dataType: 'json',
             success: function (json) {
                 console.log(json)
                 if (json.facebook === "0") {
                    //redireccionar al registro del usuario
                     window.location = "/registro-facebook";
                 }
                 if (json.ID_CLIENTE > 0) {
                     //redireccionar al sitio con ya la cuenta iniciadad
                     window.location = "/cuenta";
                 }
             },
             error: function (xhr, status) {
                 //alert('Disculpe, existió un problema');
                 $(document).ready(function () {
                     //Mensaje de error
                     //$("body").addClass("no_scroll");
                     //$('#ModalError').show();
                 });
             },
         });

  

    function resetPassModal() {
        $("#modal-containerRecupera").find('.modal-content').load("@Url.Action("ResetPassword")", function () {
            $("#modal-containerRecupera").modal("show");
            $("#btn-RecuperaCE").on("click",
                function (e) {
                    e.preventDefault();
                    var validate = $('form#recupera-cuenta-form').validate();
                    if (!$('#recupera-cuenta-form').valid()) {
                        //$("form#recupera-cuenta-form").find('span').removeClass("help-block").css("display", "none");
                        return;
                    }
                    $("#modal-containerRecupera form#recupera-cuenta-form button#btn-RecuperaCE").hide();
                    $('#recupera-cuenta-form').submit();
                });
        });
    }
    function MessageAlert(d) {
        debugger;
        var rslt = $.parseJSON(d.responseText);
        if (rslt.statusCode == 200) {
            $().toastmessage("showSuccessToast", rslt.status);
        }
        else {
            $().toastmessage("showErrorToast", rslt.status);
        }
    }

    </script>
</body>
</html>


