@model MVC_Project.BackendWeb.Models.AuthViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="765148629644-ehqbkj60uuotg1tb7ofe66jjf7j8gaut.apps.googleusercontent.com">

    <title> @System.Web.Configuration.WebConfigurationManager.AppSettings["AppName"] | @ViewLabels.AUTH_LOGIN_TITLE </title>

    @Styles.Render("~/Content/template/css")

    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/font-awesome/js")

    @Styles.Render("~/plugins/sweetAlertStyles")
    @Scripts.Render("~/plugins/sweetAlert")
    <style>
        .abcRioButtonBlue {
            display: inline-block;
        }
    </style>

</head>

<body class="gray-bg">
    <div style="position: absolute; top: 20px; right: 20px;">
        <div class="toast toast-warning" id="warning-toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
                <i class="fa fa-exclamation-circle"> </i>
                <strong class="mr-auto m-l-sm">Ups</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                @ViewBag.Error
            </div>
        </div>
    </div>
    <div style="position: absolute; top: 20px; right: 20px;">
        <div class="toast toast-info" id="info-toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
                <i class="fa fa-info-circle"> </i>
                <strong class="mr-auto m-l-sm">Info</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                @ViewBag.Message
            </div>
        </div>
    </div>
    @*<div style="padding:5px">
            @Html.ActionLink("Español", "ChangeLanguage", "Auth", new { lang = "es-MX" }, null) | @Html.ActionLink("Inglés", "ChangeLanguage", "Auth", new { lang = "en" }, null)
        </div>*@

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                @*<h1 class="logo-name">ST</h1>*@
                <img src="~/Images/logos/El20mx-logo-estes-donde-e.png" width="300" />
            </div>
            @*<h3>@System.Web.Configuration.WebConfigurationManager.AppSettings["AppName"]</h3>*@

            @*@if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="col-lg-12">
                        <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="col-lg-12">
                        <div class="alert alert-info" role="alert">@ViewBag.Message</div>
                    </div>
                }*@

            <p>@ViewLabels.AUTH_LOGIN_TITLE</p>
            @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "m-t", role = "form", id = "Login" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary("Errors", new { @class = "alert alert-danger" })*@

                @Html.HiddenFor(m => m.TypeRedSocial, new { Value = "" })
                @Html.HiddenFor(m => m.RedSocial, new { Value = false })
                @Html.HiddenFor(m => m.SocialId, new { Value = "" })

                @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = @ViewLabels.USERNAME, @required = "required" })
                </div>
                <span class="help-block"></span>
                <div class="input-group mb-3">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = @ViewLabels.PASSWORD, @required = "required" })
                </div>
                <span class="help-block"></span>
                <button type="submit" class="btn btn-color block full-width m-b"><span><i class="fa fa-sign-in-alt"></i> &nbsp;@ViewLabels.AUTH_LOGIN_SUBMIT </span></button>
                @*<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width="" onclick="Loguear()"></div>*@
                <div><h5 class="line">O</h5></div>
                <div class="row">
                    <div class="col-md-6" style="padding-right: 2px !important;">
                        <button type="button" class="btn btn-facebook btn-block" onclick="Loguear()">
                            <span>Entrar con &nbsp;<i class="fa fa-facebook-f"></i></span>
                        </button>
                    </div>

                    <div class="col-md-6 btn-google" style="padding-left: 2px !important;">
                        <div id="custom_signin_button" onclick=""></div>
                        <button type="button" class="btn btn-google btn-block" style="">
                            <span>Entrar con &nbsp;<i class="fa fa-google"></i></span>
                        </button>
                    </div>

                </div>
                <span class="help-block"></span>

                <br />
                <a href="javascript:void(0);" onclick="javascript:resetPassModal();" data-target="#modal-containerRecupera" data-toggle="modal"><small>@ViewLabels.AUTH_LOGIN_RECOVERPASS</small></a>
                <br />

                <p class="text-muted text-center">¿No tienes una cuenta? <a class="btn btn-sm btn-default btn-block" href="@Url.Action("Index", "Register")"><span><i class="fa fa-user-plus"></i> &nbsp;Regístrate</span></a></p>


            }
        </div>
    </div>

    <div id="modal-containerRecupera" class="modal fade hidden-print" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content"></div>
        </div>
    </div>


    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <!--Configuración de facebook-->
    <script src="~/Scripts/Facebook.js"></script>
    <!--Configuración de facebook-->
    <!--Configuración de Google-->
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="~/Scripts/Google.js"></script>
    @*<a href="#" onclick="signOut();">Sign out</a>*@
    <!--Configuración de Google-->
    <script>
        var UrlLogin = '@Url.Action("ValidateLogin", "Auth")';
        var UrlReset = '@Url.Action("ResetPassword")';
    </script>
    <script src="~/Scripts/views/Auth/Index.js"></script>

    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <script type="text/javascript">
            $('#warning-toast').toast('show');
        </script>
    }

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script type="text/javascript">
            $('#info-toast').toast('show');
        </script>
    }

    @*@if (Html.TieneMensaje())
        {
            var mensaje = @Html.ObtenerMensaje();
            <script type="text/javascript">
                toastr['@mensaje.Tipo']('@mensaje.Mensaje');
            </script>
        }*@
</body>
</html>


