@model MVC_Project.WebBackend.Models.BranchOfficeViewModel

@{
    ViewBag.Title = "Crear Sucursal";
}

@section Styles {
    <link href="~/Content/template/plugins/cropper/cropper.min.css" rel="stylesheet" />
    <style>
        /* Limit image width to avoid overflow the container */
        img {
            max-width: 100%; /* This rule is very important, please do not ignore this! */
        }

        .label {
            cursor: pointer;
        }

        .progress {
            display: none;
            margin-bottom: 1rem;
        }

        .alert {
            display: none;
        }

        .img-container img {
            max-width: 100%;
        }
        .custom-file {
            overflow: hidden;
        }
        .view-password {
            cursor: pointer;
        }
    </style>
    <link href="~/Content/template/plugins/iCheck/skins/square/blue.css" rel="stylesheet" />
}

<div class="wrapper content-padding wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins box-degradient">
                @*<div class="ibox-title">
                    <h5>Crear</h5>
                </div>*@
                <div class="ibox-content">

                    @using (Html.BeginForm("Create", "BranchOffice", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "CreateForm", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.id)
                        @Html.HiddenFor(x => x.uuid)
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>General</h5>
                            </div>
                            <div class="ibox-content">
                                @*<div class="form-group row">
                    <div class="col-12 col-md-4">

                    </div>
                    <div class="col-12 col-md-4">

                    </div>
                    <div class="col-12 col-md-4 text-right">
                        <label class="label" data-toggle="tooltip" title="Cambiar logo para facturación" data-original-title="Cambiar logo para facturación">
                            <img id="avatar" src="@Model.logo" width="160" height="160" style="background-color:#e9ecef">
                            <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                        </label>
                    </div>
                </div>*@
                                <div class="form-group row">
                                    <div class="col-12 col-md-4">
                                        @*@Html.LabelFor(model => model.name, new { @class = "col-form-label control-label" })*@
                                        @Html.TextBoxFor(model => model.name, new { @class = "form-control input-text", required = "required", @autocomplete = "off", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.name).ToHtmlString()) })                                        
                                        @Html.ValidationMessageFor(model => model.name)
                                    </div>
                                    <div class="col-12 col-md-4">
                                        @*@Html.LabelFor(model => model.folio, new { @class = "col-form-label control-label" })*@
                                        @Html.TextBoxFor(model => model.folio, new { @class = "form-control input-text", @autocomplete = "off", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.folio).ToHtmlString()) })
                                        @Html.ValidationMessageFor(model => model.folio)
                                    </div>
                                    <div class="col-12 col-md-4">
                                        @*@Html.LabelFor(model => model.serie, new { @class = "col-form-label control-label" })*@
                                        @Html.TextBoxFor(model => model.serie, new { @class = "form-control input-text", @autocomplete = "off", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.serie).ToHtmlString()) })
                                        @Html.ValidationMessageFor(model => model.serie)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Domicilio fiscal</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="form-group row">
                                    <div class="col-12 col-md-8">
                                        @*@Html.LabelFor(m => m.street, new { @class = "col-form-label control-label" })*@
                                        @Html.TextBoxFor(m => m.street, new { @class = "form-control input-text required", @maxlength = "250", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.street).ToHtmlString()) })
                                    </div>
                                    <div class="col-12 col-md-4">
                                        @*@Html.LabelFor(m => m.outdoorNumber, new { @class = "col-form-label control-label" })*@
                                        @Html.TextBoxFor(m => m.outdoorNumber, new { @class = "form-control input-text required", @maxlength = "100", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.outdoorNumber).ToHtmlString()) })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12 col-md-4">
                                        @*@Html.LabelFor(m => m.interiorNumber, new { @class = "col-form-label control-label" })*@
                                        @Html.TextBoxFor(m => m.interiorNumber, new { @class = "form-control input-text", @maxlength = "20", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.interiorNumber).ToHtmlString()) })
                                    </div>
                                    <div class="col-12 col-md-4">
                                        @*@Html.LabelFor(m => m.zipCode, new { @class = "col-form-label control-label" })*@
                                        @Html.TextBoxFor(m => m.zipCode, new { @class = "form-control input-text", @maxlength = "5", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.zipCode).ToHtmlString()) })
                                    </div>
                                    <div class="col-12 col-md-4">
                                        @Html.LabelFor(m => m.colony, new { @class = "col-form-label control-label" })
                                        @Html.DropDownListFor(m => m.colony, Model.listColony, new { @class = "chosen-select" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12 col-md-4">
                                        @Html.LabelFor(m => m.municipality, new { @class = "col-form-label control-label" })
                                        @Html.DropDownListFor(m => m.municipality, Model.listMunicipality, new { @class = "chosen-select" })
                                    </div>
                                    <div class="col-12 col-md-4">
                                        @Html.LabelFor(m => m.state, new { @class = "col-form-label control-label" })
                                        @Html.DropDownListFor(m => m.state, Model.listState, new { @class = "chosen-select" })
                                    </div>
                                    <div class="col-12 col-md-4">
                                        @Html.LabelFor(m => m.country, new { @class = "col-form-label control-label" })
                                        @Html.DropDownListFor(m => m.country, Model.listCountry, new { @class = "chosen-select" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5> Sello fiscal </h5>
                            </div>
                            <div class="ibox-content">
                                <div class="form-group row">
                                    <div class="col-12 col-md-4">
                                        @Html.LabelFor(model => model.cer, new { @class = "col-form-label control-label" })
                                        <div class="custom-file form-control">
                                            @Html.TextBoxFor(model => model.cer, new { @class = "custom-file-input input-text", @autocomplete = "off", type = "file", @onchange = "fileValidationCer();", @accept = "application/x-x509-ca-cert", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.cer).ToHtmlString()) })
                                            <label for="files" class="custom-file-label"></label>
                                            @Html.ValidationMessageFor(model => model.cer)
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        @Html.LabelFor(model => model.key, new { @class = "col-form-label control-label" })
                                        <div class="custom-file form-control">
                                            @Html.TextBoxFor(model => model.key, new { @class = "custom-file-input input-text", @autocomplete = "off", @onchange = "fileValidationKey();", type = "file", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.key).ToHtmlString()) })
                                            <label for="files" class="custom-file-label"></label>
                                            @Html.ValidationMessageFor(model => model.key)
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        @Html.LabelFor(model => model.password, new { @class = "col-form-label control-label" })
                                        <div class="input-group">
                                            <div class="input-group-append view-password">
                                                <span class="input-group-text" title="Ver contraseña">
                                                    <i class="fa fa-eye"></i>
                                                </span>
                                            </div>
                                            @Html.TextBoxFor(model => model.password, new { @class = "form-control input-text view-password-input", @type = "password", @autocomplete = "off", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(x => x.password).ToHtmlString()) })
                                            @Html.ValidationMessageFor(model => model.password)
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        @if (!string.IsNullOrEmpty(Model.cerUrl))
                                        {
                                            <a href="@Model.cerUrl">.cer actual</a>
                                        }
                                    </div>
                                    <div class="col-12 col-md-4">
                                        @if (!string.IsNullOrEmpty(Model.keyUrl))
                                        {
                                            <a href="@Model.keyUrl">.key actual</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row pull-right">
                            <div class="col-md-10 offset-2 text-right">
                                <a href='@Url.Action("Index", "BranchOffice")' class='btn btn-button'><i class="fa fa-times"></i> Cancelar</a>
                                <button type="button" id="btn-save" class="btn btn-button"> <i class="fa fa-save"></i> Guardar </button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Ajustar imagen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="image" src="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-button" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-button" id="crop">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.es.js"></script>
    <script src="~/Scripts/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Scripts/plugins/cropper/cropper1.js"></script>
    <script src="~/Scripts/views/BranchOffice/Create.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var controller = new BranchOfficeCreateController('@Url.Action("UpdateLogo")', '@Url.Action("GetLocations")');
            controller.init();
        });
    </script>
}
