@model MVC_Project.WebBackend.Models.QuotationCreate

@{
    ViewBag.Title = "Regularizaciones";
}

@section Styles {

    <link href="~/Content/template/plugins/iCheck/skins/square/blue.css" rel="stylesheet" />
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("Edit", "Quotation", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "EditForm" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)

                        <div class="form-group row">
                            @Html.LabelFor(model => model.accountId, new { @class = "col-form-label control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.accountId, Model.accounts, new { @class = "chosen-select" })
                                @Html.ValidationMessageFor(model => model.accountId)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.startedAt, new { @class = "col-form-label control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.startedAt, new { @class = "form-control", required = "required", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.startedAt)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.total, new { @class = "col-form-label control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.total, new { @class = "form-control", required = "required", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.total)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.file, new { @class = "col-form-label control-label col-md-2" })
                            <div class="col-md-8">
                                <div class="custom-file form-control">
                                    @Html.TextBoxFor(model => model.file, new { @class = "custom-file-input", @autocomplete = "off", type = "file" })
                                    <label for="File" class="custom-file-label"></label>
                                    @Html.ValidationMessageFor(model => model.file)
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <div class="col-md-8 offset-2">
                                <div class="i-checks">
                                    <label style="font-weight:initial">
                                        @Html.CheckBoxFor(m => m.hasDeferredPayment, new { @class = "form-control" })
                                        Pagos diferidos
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(model => model.hasDeferredPayment)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.partialitiesNumber, new { @class = "col-form-label control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.partialitiesNumber, new { @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.partialitiesNumber)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.advancePayment, new { @class = "col-form-label control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.advancePayment, new { @class = "form-control", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.advancePayment)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.monthlyCharge, new { @class = "col-form-label control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.monthlyCharge, new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.monthlyCharge)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.quoteStatus, new { @class = "col-form-label control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.quoteStatus, Model.statusQuotation, new { @class = "chosen-select" })
                                @Html.ValidationMessageFor(model => model.quoteStatus)
                            </div>
                        </div>

                        <div class="form-group row pull-right">
                            <div class="col-md-8 offset-2 text-right">
                                <a href='@Url.Action("Index", "Quotation")' class='btn btn-white'><i class="fa fa-times"></i> Cancelar</a>
                                <button type="button" id="btn-save" class="btn btn-color"> <i class="fa fa-save"></i> Guardar </button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: '100%', "disable_search": true });
            $.validator.addMethod("Alphanumeric",
                function (value, element) {
                    return value.match(/^[A-Za-zÀ-ÿ\u00f1\u00d10-9 _.-]+$|^$/);
                }, "El campo debe ser alfanumérico"
            );
            $("#EditForm").validate({
                rules: {

                }
            });

            $('.custom-file-input').on('change', function (e) {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });
        });

        $("#btn-save").on("click", function () {
            if (!$('#EditForm').valid()) {
                return;
            }
            $('#EditForm').submit();
        })

    </script>
}
