@model MVC_Project.Web.Models.UserPermissionViewModel
@{
    ViewBag.Title = "Index";

}
@section styles {
    @Styles.Render("~/Content/template/plugins/dataTables/dataTablesStyles")
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Permisos por usuario</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @using (Html.BeginForm("GetAllByFilter", "UserPermissions", FormMethod.Post, new { @id = "SearchForm" }))
                {
                    <div class="ibox-title">
                        <h5>Búsqueda</h5>
                    </div>
                    <div class="ibox-content clearfix">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Usuario</label>
                                @Html.TextBoxFor(m => m.Nombre, new { @Class = "form-control form-control-sm txtFiltro", maxlength = "100", filtro = "true", filtro_order = "1" })
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Estado</label>
                                @Html.DropDownListFor(x => x.Status, new SelectList(ViewBag.OpcionesStatus, "value", "text"), new { @class = "selectpicker form-control", data_live_search = "true", data_style = "btn-default", style = "position: relative;", filtro = "true", filtro_order = "2" })
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <br />
                            <button type="button" class="btn btn-sm btn-primary btn-filter-permission"><i class="fas fa-search"></i> Buscar</button>
                            @*<button class="btn btn-primary" onclick="javascript:sendSearchForm();"><span class="fas fa-search"></span>&nbsp;Buscar</button>*@
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Resultado</h5>
                </div>
                <div class="ibox-content">
                    <table id="table" class="table table-striped table-bordered"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/fullCalendar")
    <script src="~/Scripts/template/Utils.js"></script>
    <script src="~/Scripts/views/userPermission/Index.js"></script>

    <script>
        $(function () {
            var userPermission = new UserPermissionIndexControlador('table', '@Url.Action("GetAllByFilter")',
				'@Url.Action("ModalEditAction")', '@Url.Action("ModalDeleteAction")');
            userPermission.init();
        });

        $(".btn-filter-permission").click(function () {
            $('#table').DataTable().draw();
        });
    </script>

}