
@model MVC_Project.WebBackend.Models.AllyFilterViewModel
@using MVC_Project.Utils

@{
    /**/

    ViewBag.Title = "Nuevo Aliado";
}

@section styles{
    <style>
        .hidden {
            display: none;
        }
    </style>
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="">
        @using (Html.BeginForm("AllyCreate", "Alliance", FormMethod.Post, new { role = "form", @id = "CreateForm", @class = "row" }))
        {
            <div class="col-lg-12">
                @Html.AntiForgeryToken()

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Datos del Aliado</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Name, new { @class = "col-form-label col-12 col-md-2 control-label" })

                                <div class="col-12 col-md-8">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control required", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="form-group row pull-right">
                                <div class="col-md-8 offset-2 text-right">
                                    <a href='@Url.Action("AllyIndex", "Alliance")' class='btn btn-white'><i class="fa fa-times"></i> Cancelar</a>
                                    <button type="button" onclick="validarDatos()" class="btn btn-color"> <i class="fa fa-save"></i> Guardar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/toastr")

    <script>
        function validarDatos() {
            if (!$('#CreateForm').valid()) {
                return;
            }
            $('#CreateForm').submit();
        }

        $.validator.addMethod("Alphanumeric",
            function (value, element) {
                return value.match(/^[A-Za-zÀ-ÿ\u00f1\u00d10-9 _.-]+$|^$/);
            }, "El campo debe ser alfanumérico"
        );
        $("#CreateForm").validate({
            rules: {
                Name: {
                    Alphanumeric: true
                }
            }
        });
    </script>
}
