@model MVC_Project.WebBackend.Models.PlanViewModel
@using MVC_Project.Utils

@{
    /**/


    ViewBag.Title = "Nuevo Plan";
}

@section styles{
    @*<link href="~/Content/template/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/template/plugins/iCheck/skins/square/blue.css" rel="stylesheet" />
    <style>
        .heightLabel {
            height: 55px;
        }

        .hidden {
            display: none;
        }
    </style>
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="">
        @*enctype = "application/x-www-form-urlencoded",*@
        @*enctype = "multipart/form-data",*@
        @using (Html.BeginForm("Create", "Plan", FormMethod.Post, new { role = "form", @id = "CreateForm", @class = "row" }))
        {
            <div class="col-lg-12">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Configuración de Plan</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12 col-md-3">
                                    @Html.LabelFor(m => m.Name, new { @class = "col-form-label control-label" })
                                </div>
                                <div class="col-12 col-md-6">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control required", @maxlength = "50" })
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="i-checks">
                                        <label style="font-weight:initial">
                                            @Html.CheckBoxFor(m => m.isCurrent, new { @class = "form-control", name = "current" })
                                            @Html.DisplayNameFor(x => x.isCurrent)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Conceptos</h3>
                                </div>
                                <div class="panel-body">
                                    @foreach (var item in Model.LabelConcepts)
                                    {
                                        <div class="form-group row">
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label control-label">@item.Label</label>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <input type="hidden" name="ConceptId[]" value="@item.Id" />
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">$</div>
                                                    </div>
                                                    <input type="text" name="Concept@(item.Id)" class="form-control money required" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Características</h3>
                                </div>
                                <div class="panel-body">
                                    @foreach (var item in Model.LabelFeatures)
                                    {
                                        <div class="form-group row">
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label control-label">@item.Label</label>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <input type="hidden" name="FeatureId[]" value="@item.Id" />

                                                @if (item.operation == Operation.RANGE.ToString())
                                                {
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <input type="@item.dataType" name="Feature@(item.Id)Value1" value="" class="form-control required" />
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <input type="@item.dataType" name="Feature@(item.Id)Value2" value="" class="form-control required" />
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (item.fieldType == "select")
                                                    {
                                                        <select class="form-control required" name="Feature@(item.Id)Value1">
                                                            @foreach (var type in Enum.GetValues(typeof(BooleanText)).Cast<BooleanText>())
                                                            {
                                                                <option value="@type.ToString("D")">@EnumUtils.GetDescription(type)</option>
                                                            }
                                                        </select>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Criterio de asignación</h3>
                                </div>
                                <div class="panel-body">
                                    @foreach (var item in Model.LabelAssignment)
                                    {
                                        <div class="form-group row">
                                            <div class="col-12 col-md-4">
                                                <label class="col-form-label control-label">@item.Label</label>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <input type="hidden" name="AssigId[]" value="@item.Id" />

                                                @if (item.operation == Operation.RANGE.ToString())
                                                {
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <input type="@item.dataType" name="Assig@(item.Id)Value1" value="" class="form-control required" />
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <input type="@item.dataType" name="Assig@(item.Id)Value2" value="" class="form-control required" />
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (item.fieldType == "select")
                                                    {
                                                        <select class="form-control required" name="Assig@(item.Id)Value1">
                                                            @foreach (var type in Enum.GetValues(typeof(TypeTaxRegimen)).Cast<TypeTaxRegimen>())
                                                            {
                                                                <option value="@type.ToString("D")">@EnumUtils.GetDescription(type)</option>
                                                            }
                                                        </select>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group row pull-right">
                                <div class="col-md-10 offset-2 text-right">
                                    <a href='@Url.Action("Index", "Plan")' class='btn btn-white'><i class="fa fa-times"></i> Cancelar</a>
                                    <button type="button" onclick="validarDatos()" class="btn btn-color"> <i class="fa fa-save"></i> Guardar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>

@section Scripts {

    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/toastr")
    @*<script src="~/Scripts/plugins/jasny/jasny-bootstrap.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
    <script>
        function validarDatos() {
            if (!$('#CreateForm').valid()) {
                return;
            }
            $('#CreateForm').submit();
        }
        $('.money').mask("##,###,##0.00", { reverse: true });
    </script>
}