@model  MVC_Project.Web.Models.PaymentViewModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='container'>
    <div class='row' style='padding-top:25px; padding-bottom:25px;'>
        <div class='col-md-12'>
            <div id='mainContentWrapper'>
                <div class="col-md-8 col-md-offset-2">
                    <h2 style="text-align: center;">
                        Review Your Order & Complete Checkout
                    </h2>
                    <hr />
                    @using (Html.BeginForm("CheckoutProceed", "Payments", FormMethod.Post, new { @id = "payment-form", @role = "form" }))
                    {
                        <input type="hidden" name="TokenId" id="token_id">
                        @Html.HiddenFor(m => m.OrderId)
                        @Html.HiddenFor(m => m.Amount)
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <div class="shopping_cart">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Review Your Order # @Model.OrderId
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="items">
                                                <div class="col-md-9">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td colspan="2">
                                                                <a class="btn btn-warning btn-sm pull-right"
                                                                   href="javascript:void(0);"
                                                                   title="Remove Item">X</a>
                                                                <b>
                                                                    Premium Posting
                                                                </b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <ul>
                                                                    <li>One Job Posting Credit</li>
                                                                    <li>Job Distribution</li>
                                                                    <li>Social Media Distribution</li>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                <b>$@Model.Amount</b>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <div style="text-align: center;">
                                                        <h3>Order Total</h3>
                                                        <h3><span style="color:green;">$@Model.Amount MXN</span></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            Confirmation Email: <input id="ConfirmationEmail" name="ConfirmationEmail" type="email" value="" class="form-control" />
                                        </div>
                                        <div>
                                            <br /><br />
                                            <input id="PaymentMethod" name="PaymentMethod" type="radio" value="card" checked="checked" /> Credit/Debit Card
                                            <br /><br />
                                            <input id="PaymentMethod" name="PaymentMethod" type="radio" value="bank_account" /> Bank Transfer
                                            <br /><br />
                                            <button type="submit" class="btn btn-success btn-lg" style="width:100%;">
                                                Proceed Checkout
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>