@model  MVC_Project.Web.Models.PaymentViewModel
@{
    ViewBag.Title = "Pago con SPEI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Pago con Transferencia InterBancaria (SPEI)</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <h3 class="m-t-none m-b">Confirme los datos</h3>
                            @using (Html.BeginForm("CreateSPEI", "Payments", FormMethod.Post, new { @id = "CreateForm", @role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.OrderId)
                                @Html.HiddenFor(m => m.Amount)
                                @Html.HiddenFor(m => m.ConfirmationEmail)
                                <div class="form-group">
                                    <label>ID Orden / Transacción (Única):</label>
                                    @Model.OrderId
                                </div>
                                <div class="form-group">
                                    <label>Monto:</label>
                                    @Model.Amount
                                </div>
                                <div class="form-group">
                                    <label>Fecha de Vencimiento:</label>
                                    @Model.DueDate
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>Generar Comprobante</strong></button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

