@model MVC_Project.WebBackend.Models.ProviderViewModel
@using MVC_Project.Utils

@{
    /**/


    ViewBag.Title = "Nuevo Proveedor";
}

@section styles{
    <link href="~/Content/template/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />
    <style>
        .heightLabel {
            height: 55px;
        }

        .hidden {
            display: none;
        }
    </style>
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="">
        @using (Html.BeginForm("Create", "Provider", FormMethod.Post, new { role = "form", @id = "CreateForm", @class = "row" }))
        {
            <div class="col-lg-12">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Datos del Proveedor</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.FistName, new { @class = "col-form-label control-label" })
                                    @Html.TextBoxFor(m => m.FistName, new { @class = "form-control" })
                                </div>
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.LastName, new { @class = "col-form-label control-label" })
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                </div>
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.RFC, new { @class = "col-form-label control-label" })
                                    @Html.TextBoxFor(m => m.RFC, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.CURP, new { @class = "col-form-label control-label" })
                                    @Html.TextBoxFor(m => m.CURP, new { @class = "form-control" })
                                </div>
                                <div class="col-12 col-md-8">
                                    @Html.LabelFor(m => m.BusinessName, new { @class = "col-form-label control-label" })
                                    @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.taxRegime, new { @class = "col-form-label control-label" })
                                    @*@Html.TextBoxFor(m => m.taxRegime, new { @class = "form-control" })*@
                                    @Html.DropDownListFor(m => m.taxRegime, Model.ListRegimen.Items as List<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Domicilio de Ubicación (Domicilio Fiscal)</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12 col-md-8">
                                    @Html.LabelFor(m => m.Street, new { @class = "col-form-label control-label" })
                                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                                </div>
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.OutdoorNumber, new { @class = "col-form-label control-label" })
                                    @Html.TextBoxFor(m => m.OutdoorNumber, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.InteriorNumber, new { @class = "col-form-label control-label" })
                                    @Html.TextBoxFor(m => m.InteriorNumber, new { @class = "form-control" })
                                </div>
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.ZipCode, new { @class = "col-form-label control-label" })
                                    @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
                                </div>
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.Colony, new { @class = "col-form-label control-label" })
                                    @Html.DropDownListFor(m => m.Colony, Model.ListColony.Items as List<SelectListItem>, new { @class = "form-control form-height" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.Municipality, new { @class = "col-form-label control-label" })
                                    @Html.DropDownListFor(m => m.Municipality, Model.ListMunicipality.Items as List<SelectListItem>, new { @class = "form-control" })
                                </div>
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.State, new { @class = "col-form-label control-label" })
                                    @Html.DropDownListFor(m => m.State, Model.ListState.Items as List<SelectListItem>, new { @class = "form-control" })
                                </div>
                                <div class="col-12 col-md-4">
                                    @Html.LabelFor(m => m.Country, new { @class = "col-form-label control-label" })
                                    @Html.DropDownListFor(m => m.Country, Model.ListCountry.Items as List<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12 col-md-8">
                                    <label class="col-form-label control-label">Domicilio Comercial</label>
                                    <div class="form-group">
                                        <input id="DeliveryAddress" name="DeliveryAddress" type="checkbox" class="" value="true"> <label for="DeliveryAddress">Mismo que domicilio Fiscal</label>
                                        @*<input id="" name="DeliveryAddress" type="checkbox" class="" value="1" @(Model.MEMBRESIA_EDITAR.DESCUENTO_TEC == 1 ? "checked" : "")> <label for="descuentoTec">Exclusivo para Empleados Tec</label>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Datos de Contacto</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12">
                                    <input type="hidden" name="indexPhone[]" id="indexPhone" />
                                    <input type="hidden" name="indexEmail[]" id="indexEmail" />
                                </div>
                                <div class="col-12 col-md-6 listContacts" id="ListEmails">
                                    <div class="row">
                                        <div class="col-12 col-md-10">
                                            <label class="col-form-label control-label">Email 1</label>
                                            <input type="hidden" name="Emails[0].TypeContact" value="@TypeContact.EMAIL.ToString()" />
                                            <input type="email" class="form-control emails" name="Emails[0].EmailOrPhone" />
                                        </div>
                                        <div class="col-12 col-md-2">
                                            <label class="col-form-label control-label heightLabel"></label>
                                            <button type="button" class="btn btn-color btn-add-email" value="email">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 listContacts" id="ListPhones">
                                    <div class="row">
                                        <div class="col-12 col-md-10">
                                            <label class="col-form-label control-label">Teléfono 1</label>
                                            <input type="hidden" name="Phones[0].TypeContact" value="@TypeContact.PHONE.ToString()" />
                                            <input type="text" class="form-control phones" name="Phones[0].EmailOrPhone" data-mask="9999-99-99-99" removeMaskOnSubmit="true" greedy="false" />
                                        </div>
                                        <div class="col-12 col-md-2">
                                            <label class="col-form-label control-label heightLabel">   </label>
                                            <button type="button" class="btn btn-color btn-add-phone" value="phone">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row pull-right">
                                <div class="col-md-10 offset-2 text-right">
                                    <a href='@Url.Action("Index", "Provider")' class='btn btn-white'><i class="fa fa-times"></i> Cancelar</a>
                                    <button type="submit" class="btn btn-color"> <i class="fa fa-save"></i> Guardar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>

@section Scripts {

    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/Scripts/views/Provider/Create.js"></script>
    <script>
        var urlGetLocation = '@Url.Action("GetLocations")';
    </script>
}