@model MVC_Project.WebBackend.Models.RoleEditViewModel

@{
    ViewBag.Title = "Editar";
}

@section Styles {
    @Styles.Render("~/Content/template/plugins/chosen/chosenStyles")
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Editar Rol</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("Edit", "Role", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "EditForm" }))
                    {
                        @Html.HiddenFor(model => model.Id)
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Name, new { @class = "col-form-label control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-form-label control-label col-md-2">Permisos</label>
                                <div class="tabs-container col-md-8 offset-2" style="padding: 0px">
                                    <div class="tabs-left">
                                        <ul class="nav nav-tabs">
                                            @for (int i = 0; i < Model.Modules.Count; i++)
                                            {
                                                var status = i == 0 ? "active" : "";
                                                <li><a class="nav-link @status" data-toggle="tab" href="#tab-@i"> @Model.Modules[i].Name</a></li>
                                                @Html.HiddenFor(model => model.Modules[i].Id)
                                            }
                                        </ul>
                                        <div class="tab-content">
                                            @for (int i = 0; i < Model.Modules.Count; i++)
                                            {
                                                var status = i == 0 ? "active" : "";
                                                <div id="tab-@i" class="tab-pane @status">
                                                    <div class="panel-body">
                                                        @for (int j = 0; j < Model.Modules[i].Permissions.Count; j++)
                                                        {

                                                            <div class="row">
                                                                <div class="col-md-2" style="text-align:right">
                                                                    @Model.Modules[i].Permissions[j].Name
                                                                    @Html.HiddenFor(model => model.Modules[i].Permissions[j].Id)
                                                                </div>
                                                                <div class="col-md-10">
                                                                    @Html.DropDownListFor(model => model.Modules[i].Permissions[j].SystemAction, Model.Modules[i].Permissions[j].SystemActions,
                                                                    new { @class = "chosen-select", data_placeholder = "Selecciona tipo", @required = "required", @style = "width: 100%" })
                                                                </div>
                                                            </div>

                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="offset-md-2 col-md-8 text-center">
                                    <a href='@Url.Action("Index", "Role")' class='btn btn-white'><i class="fa fa-times"></i> Cancelar</a>
                                    <button type="submit" class="btn btn-color"> <i class="fa fa-save"></i> Guardar </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: '100%', "disable_search": true });
        });
    </script>
}