@model MVC_Project.Web.Models.UserChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

    <div>
        <div class="alert alert-info">
           @Messages.PasswordExpirationTime
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="col-lg-12">
                <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
            </div>
        }
        @using (Html.BeginForm("EditPassword", "User", FormMethod.Post, new { @id = "changePassForm", @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x=>x.Uuid)
            <span class="help-block"></span>
            <div class="form-group">
                @Html.LabelFor(x => x.Password)
                @Html.EditorFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <span class="help-block"></span>

            <span class="help-block"></span>
            <div class="form-group">

                @Html.LabelFor(x => x.ConfirmPassword)
                @Html.EditorFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmar contraseña", @required = "required" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
            <span class="help-block"></span>
            
        }
    </div>

@section scripts{

    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/validateUnobtrusive")
}