@model MVC_Project.WebBackend.Models.UserImportViewModel
@{
    ViewBag.Title = "Importar a Storage";
}

@section Styles {
    @Styles.Render("~/Content/chosenStyles")
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Importar Archivo</h5>
                </div>
                <div class="ibox-content">

                    <p class="alert alert-info">
                        Tamaño máximo de carga de archivos del servidor: <b>10M</b>
                        <br />
                        Tipo de archivos aceptados: <b>XLSX, XLS</b>
                    </p>
                    @using (Html.BeginForm("Import", "Storage", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "CreateForm", enctype = "multipart/form-data" }))
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.ImportedFile, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.ImportedFile, new { @class = "form-control", @required = "required", type = "file" })
                                    @Html.ValidationMessageFor(model => model.ImportedFile)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="PaymentMethod">Proveedor</label>
                                <div class="col-md-10">
                                    <input id="StorageProvider" name="StorageProvider" type="radio" value="azure" checked="checked" /> Azure
                                    <br /><br />
                                    <input id="StorageProvider" name="StorageProvider" type="radio" value="aws" /> Amazon S3
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Importar" class="btn btn-primary" />
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.FinalUrl))
                    {
                        <div class="card">
                            <div class="card-body">
                                URL del archivo: <br />
                                <a href="@Model.FinalUrl" target="_blank">@Model.FinalUrl</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

            

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/validate")
}

