@using MVC_Project.FlashMessages;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="google-signin-scope" content="profile email">
    <!--Local-->
    <meta name="google-signin-client_id" content="765148629644-ehqbkj60uuotg1tb7ofe66jjf7j8gaut.apps.googleusercontent.com">
    <!--Azure Dev-->
    <!--<meta name="google-signin-client_id" content="879827116478-m59eg6itdnoepetdg4qls2f8pliqss8h.apps.googleusercontent.com">-->

    <title>@ViewBag.Title | @System.Web.Configuration.WebConfigurationManager.AppSettings["AppName"]</title>

    @Styles.Render("~/Content/template/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/plugins/dataTablesStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/template/plugins/chosen/chosenStyles")
    <link href="~/Content/template/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/template/plugins/steps/jquery.steps.css" rel="stylesheet" />
    <link href="~/Content/template/stylesEl20mx.css" rel="stylesheet" />
    <!-- Local styles -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }

</head>

<body>
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Left navigation bar -->
        @Html.Partial("_Navigation")

        <div id="page-wrapper" class="gray-bg">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>

    </div>

    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/plugins/steps/jquery.steps.min.js"></script>

    @Scripts.Render("~/font-awesome/js")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/fullCalendar")
    @Scripts.Render("~/plugins/validate")
    
    <script src="~/Scripts/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/inspinia.js"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>
    <!-- Script para redes sociales-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/Scripts/Facebook.js"></script>
    <script src="~/Scripts/Google.js"></script>
    <!-- fin de Script para redes sociales-->

    @if (Html.TieneMensaje())
    {
        var mensaje = @Html.ObtenerMensaje();
        <script type="text/javascript">
                toastr['@mensaje.Tipo']('@mensaje.Mensaje');
        </script>
    }

    <!-- iCheck -->
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
            });
        });

        $("#CloseSession").click(function (e) {
            e.preventDefault()
            console.log($(this), "quien es?")
            //vamos a intentar cerrar sesión
            signOut();//Cierre de google
            close();//Cierre de facebook
            console.log("se cerro?")
            var url = $(this).attr("href");
            window.location = url;
        });
    </script>

    <!-- Local scripts -->
    @RenderSection("scripts", required: false)
    <script>
        jQuery.extend(jQuery.validator.messages, {
            required: "Campo requerido.",
            remote: "Please fix this field.",
            email: "Ingrese un correo válido.",
            url: "Ingrese una URL válida.",
            date: "Ingrese una fecha válida.",
            dateISO: "Please enter a valid date (ISO).",
            number: "Please enter a valid number.",
            digits: "Please enter only digits.",
            creditcard: "Please enter a valid credit card number.",
            equalTo: "Please enter the same value again.",
            accept: "Please enter a value with a valid extension.",
            maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
            minlength: jQuery.validator.format("Please enter at least {0} characters."),
            rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
            range: jQuery.validator.format("Please enter a value between {0} and {1}."),
            max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
            min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
        });
        jQuery.validator.setDefaults({
            errorPlacement: function (error, element) {
                if (element.is(':checkbox') || element.is(':radio')) {debugger;
                    var controls = element.closest('is');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(".i-checks");//element.nextAll('.lbl:eq(0)').eq(0)
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element);
            },
            ignore: ":hidden:not(select)"
        });
    </script>

</body>

</html>
