<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title | @System.Web.Configuration.WebConfigurationManager.AppSettings["AppName"]</title>

    @Styles.Render("~/Content/template/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/plugins/sweetAlertStyles")
    <link href="~/Content/template/plugins/steps/jquery.steps.css" rel="stylesheet" />
    <link href="~/Content/template/stylesEl20mx.css" rel="stylesheet" />
    <!-- Local styles -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }

</head>

<body>
    <div style="position: absolute; top: 20px; right: 20px;">
        <div class="toast toast-warning" id="warning-toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
                <i class="fa fa-exclamation-circle"> </i>
                <strong class="mr-auto m-l-sm">Ups</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                @ViewBag.Error
            </div>
        </div>
        <div class="toast toast-info" id="info-toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
                <i class="fa fa-info-circle"> </i>
                <strong class="mr-auto m-l-sm">Info</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                @ViewBag.Message
            </div>
        </div>
    </div>
    <div id="wrapper">

        <!-- Left navigation bar -->
        @Html.Partial("_Navigation")

        <div id="page-wrapper" class="gray-bg">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>

    </div>


    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/plugins/steps/jquery.steps.min.js"></script>

    @Scripts.Render("~/font-awesome/js")
    @Scripts.Render("~/plugins/sweetAlert")

    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/inspinia.js"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>

    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <script type="text/javascript">
            $('#warning-toast').toast('show');
        </script>
    }

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script type="text/javascript">
            $('#info-toast').toast('show');
        </script>
    }
    <!-- iCheck -->
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

    <!-- Local scripts -->
    @RenderSection("scripts", required: false)

</body>

</html>
