@using MVC_Project.WebBackend.AuthManagement
@using MVC_Project.WebBackend.AuthManagement.Models
@using MVC_Project.Utils
@{
    AuthUser user = (AuthUser)Authenticator.AuthenticatedUser;
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="@user.Avatar" width="20%" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold" style="text-overflow: ellipsis; overflow: hidden;">@user.FirstName <b class="caret"></b> </span>
                        @if (user.Role != null)
                        {
                            <span class="text-muted text-xs block">@user.Role.Name</span>
                        }
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="@Url.Action("Index", "Account")">Administrar cuentas</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Logout", "Auth")">@ViewLabels.AUTH_LOGOUT</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    @*IN+*@
                </div>
            </li>

            @if (user.HasAccessToModule(SystemModules.CONFIGURATION.ToString()))
            {
                <li class="@Html.IsModuleSelected(user, SystemModules.CONFIGURATION.ToString())">
                    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_CONFIGURATION</span> <span class="fain arrow"></span></a>
                    @if (user.HasAccessController("SAT"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "SAT", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "SAT")"><a href="@Url.Action("Index", "SAT")">Mi SAT</a></li>
                        </ul>
                    }
                    @if (user.HasAccessController("BranchOffice"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "BranchOffice", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "BranchOffice")"><a href="@Url.Action("Index", "BranchOffice")">Sucursales</a></li>
                        </ul>
                    }
                    @if (user.HasAccessController("User"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "User", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "User")"><a href="@Url.Action("Index", "User")">Usuarios</a></li>
                        </ul>
                    }
                    @if (user.HasAccessController("Role"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Role", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "Role")"><a href="@Url.Action("Index", "Role")">Roles</a></li>
                        </ul>
                    }

                </li>
            }

            @if (user.HasAccessToModule(SystemModules.REPORTS.ToString()))
            {
                <li class="@Html.IsModuleSelected(user, SystemModules.REPORTS.ToString())">
                    <a href="#"><i class="fa fa-file"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_REPORTS</span> <span class="fain arrow"></span></a>
                    @if (user.HasAccessController("Diagnostic"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Diagnostic", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "Diagnostic")"><a href="@Url.Action("Index", "Diagnostic")">Diagnósticos</a></li>
                        </ul>
                    }
                </li>
            }

            @if (user.HasAccessToModule(SystemModules.BANKS.ToString()))
            {
                <li class="@Html.IsModuleSelected(user, SystemModules.BANKS.ToString())">
                    <a href="#"><i class="fa fa-piggy-bank"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_BANKS</span> <span class="fain arrow"></span></a>
                    @if (user.HasAccessController("Bank"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Bank", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "Bank", action: "Index")"><a href="@Url.Action("Index", "Bank")">Conexión a Bancos</a></li>
                            <li class="@Html.IsSelected(controller: "Bank", action: "BankTransaction")"><a href="@Url.Action("BankTransaction", "Bank")">Movimientos Bancarios</a></li>
                        </ul>
                    }
                </li>
            }

            @if (user.HasAccessToModule(SystemModules.CUSTOMERS.ToString()))
            {
                <li class="@Html.IsModuleSelected(user, SystemModules.CUSTOMERS.ToString())">
                    <a href="#"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_CUSTOMERS</span> <span class="fain arrow"></span></a>
                    @if (user.HasAccessController("Customer"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Customer", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "Customer", action: "Index")"><a href="@Url.Action("Index", "Customer")">Clientes</a></li>
                            @*<li class="@Html.IsSelected(controller: "Customer", action: "InvoicesIssued")"><a href="@Url.Action("InvoicesIssued", "Customer")">Facturas Emitidas</a></li>*@
                        </ul>
                    }
                </li>
            }

            @if (user.HasAccessToModule(SystemModules.PROVIDERS.ToString()))
            {
                <li class="@Html.IsModuleSelected(user, SystemModules.PROVIDERS.ToString())">
                    <a href="#"><i class="fa fa-truck"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_PROVIDERS</span> <span class="fain arrow"></span></a>
                    @if (user.HasAccessController("Provider"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Provider", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "Provider", action: "Index")"><a href="@Url.Action("Index", "Provider")">Proveedores</a></li>
                            @*<li class="@Html.IsSelected(controller: "Provider", action: "InvoicesReceived")"><a href="@Url.Action("InvoicesReceived", "Provider")">Facturas Recibidas</a></li>*@
                        </ul>
                    }
                </li>
            }

            @* Menus para la sección del BackOfficce*@
            @if (user.HasAccessToModule(SystemModules.PLANS.ToString()))
            {
                <li class="@Html.IsModuleSelected(user, SystemModules.PLANS.ToString())">
                    <a href="#"><i class="fa fa-tasks"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_PLANS</span> <span class="fain arrow"></span></a>
                    @if (user.HasAccessController("Plan"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Plan", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "Plan")"><a href="@Url.Action("Index", "Plan")">Planes</a></li>
                        </ul>
                    }
                </li>
            }

            @if (user.HasAccessToModule(SystemModules.ALLIANCES_DISCOUNTS.ToString()))
            {
                <li class="@Html.IsModuleSelected(user, SystemModules.ALLIANCES_DISCOUNTS.ToString())">
                    <a href="#"><i class="fas fa-handshake"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_ALLIANCE_DISCOUNT</span> <span class="fain arrow"></span></a>
                    @if (user.HasAccessController("Alliance"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Alliance", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "Alliance", action: "AllyIndex")"><a href="@Url.Action("AllyIndex", "Alliance")">Aliados</a></li>
                            <li class="@Html.IsSelected(controller: "Alliance", action: "Index")"><a href="@Url.Action("Index", "Alliance")">Alianzas</a></li>
                        </ul>
                    }
                    @if (user.HasAccessController("Promotion"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Alliance", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "Promotion", action: "Index")"><a href="@Url.Action("Index", "Promotion")">Promociones</a></li>
                        </ul>
                    }
                </li>
            }
            @if (user.HasAccessToModule(SystemModules.QUOTATION.ToString()))
            {
                <li class="@Html.IsModuleSelected(user, SystemModules.QUOTATION.ToString())">
                    <a href="#"><i class="fas fa-balance-scale"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_QUOTATION</span> <span class="fain arrow"></span></a>
                    @if (user.HasAccessController("Quotation"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Quotation", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "Quotation", action: "Index")"><a href="@Url.Action("Index", "Quotation")">Regularizaciones</a></li>

                        </ul>
                    }
                </li>
            }
            @if (user.HasAccessToModule(SystemModules.INVOICING.ToString()))
            {
                <li class="@Html.IsModuleSelected(user, SystemModules.INVOICING.ToString())">
                    <a href="#"><i class="fas fa-balance-scale"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_INVOICING</span> <span class="fain arrow"></span></a>
                    @if (user.HasAccessController("Invoicing"))
                    {
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Invoicing", cssClass: "in")">
                            <li class="@Html.IsSelected(controller: "Invoicing", action: "Invoice")"><a href="@Url.Action("Invoice", "Invoicing")">Generar Factura</a></li>
                            @*<li class="@Html.IsSelected(controller: "Invoicing", action: "InvoicesSaved")"><a href="@Url.Action("InvoicesSaved", "Invoicing")">Facturas guardadas</a></li>*@
                            <li class="@Html.IsSelected(controller: "Invoicing", action: "InvoicesIssued")"><a href="@Url.Action("InvoicesIssued", "Invoicing")">Facturas Emitidas</a></li>
                            <li class="@Html.IsSelected(controller: "Invoicing", action: "InvoicesReceived")"><a href="@Url.Action("InvoicesReceived", "Invoicing")">Facturas Recibidas</a></li>
                        </ul>
                    }
                </li>
            }
            @*@if (user.HasAccessToModule("catalogs"))
                {
                    <li class="@Html.IsModuleSelected(user, "catalogs")">
                        <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_CATALOGS</span> <span class="fain arrow"></span></a>
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Catalogs", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "Dashboard_1")"><a href="@Url.Action("Report_1", "Dashboards")">Catálogo 1</a></li>
                            <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("Report_2", "Dashboards")">Catálogo 2</a></li>
                        </ul>
                    </li>
                }*@


            @if (user.HasAccessToModule("catalogs"))
            {
                <li class="@Html.IsModuleSelected(user, "catalogs")">
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_CATALOGS</span> <span class="fain arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Catalogs", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Dashboard_1")"><a href="@Url.Action("Report_1", "Dashboards")">Catálogo 1</a></li>
                        <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("Report_2", "Dashboards")">Catálogo 2</a></li>
                    </ul>
                </li>
            }

            @if (user.HasAccessToModule("checkin"))
            {
                <li class="">
                    <a href="#"><i class="fa fa-car"></i> <span class="nav-label" data-i18n="nav.dashboard">Seguros y Mantenimientos</span> <span class="fain arrow"></span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li class=""><a href="#">Gestión de Unidades</a></li>
                        <li class=""><a href="#">Control de Mantenimientos</a></li>
                        <li class=""><a href="#">Control de Seguros</a></li>
                    </ul>
                </li>
            }

            @if (user.HasAccessToModule("documents"))
            {
                <li class="@Html.IsModuleSelected(user, "documents")">
                    <a href="#"><i class="fa fa-newspaper"></i> <span class="nav-label" data-i18n="nav.dashboard">Documentos</span> <span class="fain arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Documents", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Documents")">Mis Documentos</a></li>
                    </ul>
                </li>
            }

            @if (user.HasAccessToModule("reports"))
            {
                <li class="@Html.IsModuleSelected(user, "reports")">
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_REPORTS</span> <span class="fain arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Reports", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "ReportService")"><a href="@Url.Action("Index", "ReportService")">Reporte de &Oacute;rdenes</a></li>
                    </ul>
                </li>
            }

            @if (user.HasAccessToModule("payments"))
            {
                <li class="@Html.IsModuleSelected(user, "payments")">
                    <a href="#"><i class="fa fa-money-bill"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_PAYMENTS</span> <span class="fain arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Payments", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Payments")">Reporte de Pagos</a></li>
                        <li class="@Html.IsSelected(action: "Checkout")"><a href="@Url.Action("Checkout", "Payments")">Checkout</a></li>
                    </ul>
                </li>
            }

            @if (user.HasAccessToModule("dashboards"))
            {
                <li class="@Html.IsModuleSelected(user, "dashboards")">
                    <a href="@Url.Action("Dashboard_1", "Dashboards")"><i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.dashboard">@ViewLabels.MODULE_DASHBOARDS</span> <span class="fain arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Dashboard_1")"><a href="@Url.Action("Dashboard_1", "Dashboards")">Dashboard v.1</a></li>
                        <li class="@Html.IsSelected(action: "Dashboard_2")"><a href="@Url.Action("Dashboard_2", "Dashboards")">Dashboard v.2</a></li>
                        <li class="@Html.IsSelected(action: "Dashboard_3")"><a href="@Url.Action("Dashboard_3", "Dashboards")">Dashboard v.3</a></li>
                        <li class="@Html.IsSelected(action: "Dashboard_4_1")"><a href="@Url.Action("Dashboard_4_1", "Dashboards")">Dashboard v.4</a></li>
                        <li class="@Html.IsSelected(action: "Dashboard_5")"><a href="@Url.Action("Dashboard_5", "Dashboards")">Dashboard v.5</a></li>
                    </ul>
                </li>
            }

            @if (user.HasAccessToModule("calendar"))
            {
                <li class="@Html.IsModuleSelected(user, "calendar")">
                    <a href="#"><i class="fa fa-calendar"></i> <span class="nav-label" data-i18n="nav.dashboard">Calendario</span> <span class="fain arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Calendar", cssClass: "in")">
                        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Calendar")">Agenda</a></li>
                    </ul>
                </li>
            }



            @*<li class="">
                    <a href="#"><i class="fa fa-cog"></i> <span class="nav-label" data-i18n="nav.dashboard">Configuración</span> <span class="fain arrow"></span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li class="">
                            <a href="#">Bancos <span class="fain arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li class=""><a href="#">Conectar</a></li>
                                <li class=""><a href="#">Cargar movimientos</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>*@

            @if (user != null && user.Account != null)
            {
                <li class="nav-header">
                    <div class="profile-element text-center">

                        <label class="label" data-toggle="tooltip" title="Cambiar imagen de la cuenta" data-original-title="Cambiar imagen de la cuenta"
                               style="background-color:transparent">
                            <img id="avatar-account" class="rounded-circle" src="@user.Account.Image">
                            <input type="file" class="sr-only" id="input-account" name="image" accept="image/*">
                        </label>


                        @*<img alt="image" class="rounded-circle" src="@user.Account.Image" />*@
                        <span class="block m-t-xs font-bold" style="color:white">@user.Account.RFC</span>
                        <span class="text-muted text-xs block">@user.Account.Name</span>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
            }


        </ul>
    </div>



    @*<div class="sidebar-collapse text-center" style="position:fixed; bottom:0px;width:inherit">
            <ul class="nav metismenu">
                @if (user != null && user.Account != null)
                {
                    <li class="nav-header">
                        <div class="profile-element text-center">
                            <img alt="image" class="rounded-circle" style="height: 50px;" src="@user.Account.Image" />
                            <span class="block m-t-xs font-bold" style="color:white">@user.Account.RFC</span>
                            <span class="text-muted text-xs block">@user.Account.Name</span>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                }

            </ul>
        </div>*@
</nav>
