@using MVC_Project.WebBackend.AuthManagement.Models
@using MVC_Project.FlashMessages;
@{
    AuthUser authUser = ViewBag.UserProfile;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PLHM5PD');</script>
    <!-- End Google Tag Manager -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/template/css")

    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/font-awesome/js")

    @Styles.Render("~/plugins/sweetAlertStyles")
    @Scripts.Render("~/plugins/sweetAlert")
    @Styles.Render("~/plugins/toastrStyles")

    <!-- Local styles -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
</head>

<body class="gray-bg">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLHM5PD"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Main view  -->
    @RenderBody()
    <!-- End wrapper-->
    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/inspinia.js"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>
    @Scripts.Render("~/plugins/toastr")

    @if (Html.TieneMensaje())
    {
        var mensaje = @Html.ObtenerMensaje();
        <script type="text/javascript">

            toastr['@mensaje.Tipo']('@mensaje.Mensaje',null,{ 'positionClass': '@mensaje.Posicion'});
        </script>
    }

    <!-- Local scripts -->
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/plugins/steps/jquery.steps.min.js"></script>

    @Scripts.Render("~/font-awesome/js")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/fullCalendar")
    @Scripts.Render("~/plugins/validate")

    <script src="~/Scripts/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/inspinia.js"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
            });
            jQuery.extend(jQuery.validator.messages, {
                required: "Campo requerido.",
                remote: "Ajustar el campo.",
                email: "Ingrese un correo válido.",
                url: "Ingrese una URL válida.",
                date: "Ingrese una fecha válida.",
                dateISO: "Ingrese una fecha válida (ISO).",
                number: "Ingrese un número válido.",
                digits: "Ingrese solamente digitos.",
                creditcard: "Ingrese un número de tarjeta válido.",
                equalTo: "Ingrese el mismo valor nuevamente.",
                accept: "Ingrese un valor con una extensión válida.",
                maxlength: jQuery.validator.format("Ingrese a lo mas {0} caracteres."),
                minlength: jQuery.validator.format("Ingrese a lo menos {0} caracteres."),
                rangelength: jQuery.validator.format("Ingrese un valor entre {0} y {1} caracteres de longitud."),
                range: jQuery.validator.format("Ingrese un valor entre {0} y {1}."),
                max: jQuery.validator.format("Ingrese un valor menor o igual a {0}."),
                min: jQuery.validator.format("Ingrese un valor mayor o igual a {0}.")
            });

        });
    </script>
</body>
</html>
