@model MVC_Project.Web.Models.RoleViewModel

@{
    ViewBag.Title = "Roles del Sistema";

}
@section styles {
    @Styles.Render("~/Content/template/plugins/dataTables/dataTablesStyles")
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @using (Html.BeginForm("ObtenerRoles", "Role", FormMethod.Post, new { @id = "SearchForm" }))
                {
                    <div class="ibox-title">
                        <h5>Búsqueda</h5>
                    </div>
                    <div class="ibox-content clearfix">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Rol</label>
                                @Html.TextBoxFor(m => m.Name, new { @Class = "form-control form-control-sm txtFiltro", maxlength = "100", filtro = "true", filtro_order = "1" })
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <br />
                            <button type="button" class="btn btn-sm btn-primary btn-filter-rol"><i class="fas fa-search"></i> Buscar</button>
                            @*<button class="btn btn-primary" onclick="javascript:sendSearchForm();"><span class="fas fa-search"></span>&nbsp;Buscar</button>*@
                        </div>
                    </div>
                }
                </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Resultado</h5>
                    <div class="ibox-tools">
                        <a href="@Url.Action("Create","Role")" class="btn btn-primary"><span class="fas fa-plus-square"></span>Crear Nuevo</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="table" class="table table-striped table-bordered"></table>

                </div>

            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/fullCalendar")
    <script src="~/Scripts/template/Utils.js"></script>
    <script src="~/Scripts/views/Rol/Index.js"></script>

    <script>
        $(function () {
            var roles = new RolIndexControlador('table', '@Url.Action("ObtenerRoles")',
				'@Url.Action("ModalEditAction")', '@Url.Action("ModalDeleteAction")');
            roles.init();
        });

        $(".btn-filter-rol").click(function () {
            $('#table').DataTable().draw();
        });
    </script>

}
