@model MVC_Project.WebBackend.Models.SATViewModel
@using MVC_Project.Utils
@using MVC_Project.WebBackend.AuthManagement
@using MVC_Project.WebBackend.AuthManagement.Models
@{
    ViewBag.Title = "Mi SAT";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    AuthUser user = (AuthUser)Authenticator.AuthenticatedUser;
    var hasFullAccessController = user.HasFullAccessController(controllerName);
}

@section Styles {
    <link href="~/Content/template/plugins/cropper/cropper.min.css" rel="stylesheet" />
    <style>
        /* Limit image width to avoid overflow the container */
        img {
            max-width: 100%; /* This rule is very important, please do not ignore this! */
        }

        .label {
            cursor: pointer;
        }

        .progress {
            display: none;
            margin-bottom: 1rem;
        }

        .alert {
            display: none;
        }

        .img-container img {
            max-width: 100%;
        }

        .view-e-firma,
        .view-ciec {
            cursor: pointer;
        }

        .custom-file {
            overflow: hidden;
        }
    </style>
    <link href="~/Content/template/plugins/iCheck/skins/square/blue.css" rel="stylesheet" />
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @*<div class="ibox-title">
                    <h5>Editar</h5>
                </div>*@
                <div class="ibox-content">

                    @using (Html.BeginForm("Edit", "SATController", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "EditForm", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.id)
                        @Html.HiddenFor(x => x.uuid)
                        @Html.HiddenFor(x => x.ciecUuid)
                        @Html.HiddenFor(x => x.efirmaUuid)
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>General</h5>
                                </div>
                                <div class="ibox-content">
                                    @if (Model.HasInvoiceSync)
                                    {
                                        <div class="form-group row">
                                            <div class="col-12 col-md-12">
                                                <div class="alert alert-info alert-dismissable" style="display:normal">
                                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                                    Fecha de última sincronización de facturas @Model.InvoiceSyncDate.ToString("dd/MM/yyyy").
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group row">
                                            <div class="col-12 col-md-12">
                                                <div class="alert alert-info alert-dismissable" style="display:normal">
                                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                                    Sincronice sus facturas.
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group row">
                                        <div class="col-12 col-md-4">
                                            @Html.LabelFor(model => model.rfc, new { @class = "col-form-label control-label" })
                                            @Html.TextBoxFor(model => model.rfc, new { @class = "form-control", @readonly = "readonly", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.rfc)
                                        </div>
                                        <div class="col-12 col-md-4">
                                            @Html.LabelFor(model => model.name, new { @class = "col-form-label control-label" })
                                            @Html.TextBoxFor(model => model.name, new { @class = "form-control", @readonly = "readonly", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.name)
                                        </div>
                                        <div class="col-12 col-md-4 text-right">
                                            <button @(user.isNotCredentials? "disabled":"") class="btn btn-color btn-block" type="button" id="btn-invoices-refresh" style="margin-top:35px"><i class="fas fa-sync"></i> Sincronizar facturas </button>
                                        </div>
                                        @*<div class="col-12 col-md-4 text-center">
                <label class="label" data-toggle="tooltip" title="Cambiar imagen de la cuenta" data-original-title="Cambiar imagen de la cuenta"
                       style="background-color:white">
                    <img id="avatar" src="@Model.avatar">
                    <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                </label>
            </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5> CIEC </h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="form-group row">
                                        <div class="col-12 col-md-4">
                                            @if (Model.ciecStatus == SystemStatus.ACTIVE.ToString())
                                            {
                                                <i class="fa fa-thumbs-up btn btn-primary btn-circle btn-lg" title="Estatus de conexión"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-thumbs-down btn btn-danger btn-circle btn-lg" title="Estatus de conexión"></i>
                                            }
                                            <label class="col-form-label control-label"> Estatus ciec </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 col-md-4">
                                            @Html.LabelFor(model => model.ciec, new { @class = "col-form-label control-label" })
                                            <div class="input-group">
                                                <div class="input-group-append view-ciec">
                                                    <span class="input-group-text" title="Ver contraseña">
                                                        <i class="fa fa-eye"></i>
                                                    </span>
                                                </div>
                                                @Html.TextBoxFor(model => model.ciec, new { @class = "form-control view-ciec-input", @type = "password", @autocomplete = "off" })
                                                @Html.ValidationMessageFor(model => model.ciec)
                                            </div>
                                        </div>
                                        @if (Model.ciecStatus != SystemStatus.ACTIVE.ToString() && hasFullAccessController)
                                        {
                                            <div class="col-12 col-md-4">
                                                <button class="btn btn-color" @(user.isNotCredentials? "disabled": "") type="button" id="btn-ciec" style="margin-top:35px"><i class="fas fa-sign-in-alt"></i> Validar ciec </button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5> EFIRMA </h5>
                                </div>
                                <div class="ibox-content">
                                    @if (!string.IsNullOrEmpty(Model.cerUrl))
                                    {
                                        <div class="form-group row">
                                            <div class="col-12 col-md-12">
                                                <div class="alert alert-info alert-dismissable" style="display:normal">
                                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                                    Fecha de vencimiento de su cerficado @Model.cerExpiryDate.ToString("dd/MM/yyyy"). Ingrese a <a class="alert-link" href="https://www.sat.gob.mx/" target="_blank">www.sat.gob.mx</a> para renovarlo.
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group row">
                                        <div class="col-12 col-md-4">
                                            @if (Model.efirmaStatus == SystemStatus.ACTIVE.ToString())
                                            {
                                                <i class="fa fa-thumbs-up btn btn-primary btn-circle btn-lg" title="Estatus de conexión"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-thumbs-down btn btn-danger btn-circle btn-lg" title="Estatus de conexión"></i>
                                            }
                                            <label class="col-form-label control-label"> Estatus efirma </label>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 col-md-4">
                                            @Html.LabelFor(model => model.cer, new { @class = "col-form-label control-label" })
                                            <div class="custom-file form-control">
                                                @Html.TextBoxFor(model => model.cer, new { @class = "custom-file-input", @autocomplete = "off", type = "file", @accept = "application/x-x509-ca-cert" })
                                                <label for="files" class="custom-file-label"></label>
                                                @Html.ValidationMessageFor(model => model.cer)
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4">
                                            @Html.LabelFor(model => model.key, new { @class = "col-form-label control-label" })
                                            <div class="custom-file form-control">
                                                @Html.TextBoxFor(model => model.key, new { @class = "custom-file-input", @autocomplete = "off", type = "file" })
                                                <label for="files" class="custom-file-label"></label>
                                                @Html.ValidationMessageFor(model => model.key)
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            @Html.LabelFor(model => model.efirma, new { @class = "col-form-label control-label" })
                                            <div class="input-group">
                                                <div class="input-group-append view-e-firma">
                                                    <span class="input-group-text" title="Ver contraseña">
                                                        <i class="fa fa-eye"></i>
                                                    </span>
                                                </div>
                                                @Html.TextBoxFor(model => model.efirma, new { @class = "form-control view-e-firma-input", @type = "password", @autocomplete = "off" })
                                                @Html.ValidationMessageFor(model => model.efirma)
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            @if (!string.IsNullOrEmpty(Model.cerUrl))
                                            {
                                                <a href="@Model.cerUrl">.cer actual</a>
                                            }
                                        </div>
                                        <div class="col-12 col-md-4">
                                            @if (!string.IsNullOrEmpty(Model.keyUrl))
                                            {
                                                <a href="@Model.keyUrl">.key actual</a>
                                            }
                                        </div>
                                        @if (Model.efirmaStatus != SystemStatus.ACTIVE.ToString() && hasFullAccessController)
                                        {
                                            <div class="col-12 col-md-4 text-right">
                                                <button class="btn btn-color" @(user.isNotCredentials? "disabled": "") type="button" id="btn-efirma" style="margin-top:35px"><i class="fas fa-sign-in-alt"></i> Validar efirma</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group row pull-right">
                                    <div class="col-md-8 offset-2 text-right">
                                        <button type="button" id="btn-save" class="btn btn-color"> <i class="fa fa-save"></i> Guardar </button>
                                    </div>
                                </div>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Ajustar imagen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="image" src="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-color" id="crop">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.es.js"></script>
    <script src="~/Scripts/plugins/cropper/cropper1.js"></script>
    <script src="~/Scripts/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Scripts/views/SAT/Index.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var controller = new SATController();
            controller.init();
        });
    </script>
}
