@model MVC_Project.Jobs.Models.ProcessViewModel
@{
    ViewBag.Title = "Jobs Control";
}

<br />
<h3>Job Executions | <a href="/Dashboard" target="_blank">Dashboard</a></h3>
<br />

<div class="container-fluid">
    <div class="row">
        <table class="table table-bordered table-hover" id="tblJobs">
            <thead>
                <tr>
                    <th>Exeution Id</th>
                    <th>Process</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Success</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.executions)
                {
                    <tr>
                        <td>@item.ExecutionId</td>
                        <td>@item.ProcessName</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.Status</td>
                        <td>@item.Success</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblJobs').DataTable({
                ordering: false
            });
        });
    </script>
}
