@model MVC_Project.WebBackend.Models.AccountSelectViewModel
@using MVC_Project.Utils
@{
    Layout = null;
    string mensaje = ViewBag.mensajeError;
}

<div class="modal-header">
    <div class="modal-title">
        <h3>Selecciona la cuenta que quieres usar</h3>
    </div>
    
    @*<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>*@
</div>

<div class="modal-body">
    <div class="row">

        @foreach (var m in Model.accountListViewModels)
        {
            <div class="col-md-4">
                <div class="ibox-content text-center">

                    <h4>@m.rfc</h4>
                    <h5>@m.name</h5>

                    <div class="m-b-sm">
                        @if (m.accountStatus == SystemStatus.ACTIVE.ToString() || m.accountStatus == SystemStatus.CONFIRMED.ToString())
                        {
                            <a href='@Url.Action("SetAccount", new { uuid = m.uuid })'>
                                <img alt="image" class="rounded-circle" src="@m.imagen" style="width:30%" />
                            </a>
                        }
                        else
                        {
                            <a href='@Url.Action("CreateAccount", new { uuid = m.uuid })'>
                                <img alt="image" class="rounded-circle" src="@m.imagen" style="width:30%" />
                            </a>
                        }
                    </div>
                    <abbr title="Su rol es">@m.role</abbr>
                    @*<div class="text-center">
                        @if (m.accountStatus == SystemStatus.ACTIVE.ToString())
                        {
                            <button class="btn btn-primary btn-xs" title="RFC Validado"><i class="fa fa-thumbs-up"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-danger btn-xs" title="RFC No Validado"><i class="fa fa-thumbs-down"></i></button>
                        }
                    </div>*@
                </div>
            </div>
        }

        <div class="col-md-4" style="padding-bottom: 15px; padding-top: 15px;">
            <div class="ibox-content text-center">
                <h4>Registrar RFC</h4>
                <div class="m-b-sm">
                    <a class="btn btn-color btn-circle btn-lg" href='@Url.Action("CreateAccount")'>
                        <i class="fa fa-plus"></i>
                    </a>
                    @*<button id="btnCreateAccount" onclick="createAccountModal()" class="btn btn-color btn-circle btn-lg">
                        <i class="fa fa-plus"></i>
                    </button>*@
                </div>
            </div>
        </div>

    </div>
</div>
@*<div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn-CloseModal" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
    </div>*@
