@model MVC_Project.WebBackend.Models.AccountSelectViewModel
@{
    Layout = null;
    string mensaje = ViewBag.mensajeError;
}

<div class="modal-header">
    <div class="modal-title">
        <h3>Selecciona la cuenta que quieres usar</h3>
    </div>
    
    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">

        @foreach (var m in Model.accountListViewModels)
        {
            <div class="col-md-4">
                <div class="ibox-content text-center">
                    <img alt="image" class="rounded-circle" src="@m.imagen" style="width:30%" />
                    <h4>@m.rfc</h4>
                    <h5>@m.name</h5>
                    <h6>Estatus Validación: @m.statusValidate</h6>
                    <div class="m-b-sm">
                        <a class="btn btn-color btn-circle btn-lg" href='@Url.Action("SetAccount", new { uuid = m.uuid })'>
                            <i class="fa fa-check"></i>
                        </a>
                    </div>
                    <abbr title="Su rol es">@m.role</abbr>
                </div>
            </div>
        }

        <div class="col-md-4" style="padding-bottom: 15px; padding-top: 15px;">
            <div class="ibox-content text-center">
                <h4>Nueva cuenta</h4>
                <div class="m-b-sm">
                    <button id="btnCreateAccount" onclick="createAccountModal()" class="btn btn-color btn-circle btn-lg">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
@*<div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn-CloseModal" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
    </div>*@
