@model MVC_Project.WebBackend.Models.LoginSATViewModel
@{
    ViewBag.Title = "Registrar RFC";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ingrese su RFC y CIEC, haremos una consulta al SAT para validar su información</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("CreateCredential", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "RegisterRFCForm" }))
                    {

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(mode => Model.uuid);
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group row">
                                @*@Html.LabelFor(model => model.RFC, new { @class = "col-form-label col-md-2 control-label" })*@
                                <label class="col-form-label col-md-2 control-label">
                                    RFC <abbr title="Registro Federal de Contribuyentes"><i class="fa fa-question-circle"></i></abbr>
                                </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.RFC, new { @class = "form-control", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.RFC)
                                    @*<input id="rfc" name="rfc" type="text" class="form-control required" aria-required="true" autocomplete="off" onkeyup="javascript:this.value=this.value.toUpperCase();">*@
                                    @*@Html.ValidationMessageFor(model => model.Name)*@
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-2 control-label">
                                    CIEC <abbr title="Clave de Identificación Electrónica Confidencial"><i class="fa fa-question-circle"></i></abbr>
                                </label>
                                @*@Html.LabelFor(model => model.CIEC, new { @class = "col-form-label col-md-2 control-label" })*@
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-append viewpass">
                                            <span class="input-group-text" title="Ver contraseña">
                                                <i class="fa fa-eye"></i>
                                            </span>
                                        </div>
                                        @Html.TextBoxFor(model => model.CIEC, new { @class = "form-control viewpass-input", @autocomplete = "off", @minlength = "8", @maxlength = "20", @type = "password" })
                                        @Html.ValidationMessageFor(model => model.CIEC)
                                        @*<input id="password" name="password" type="password" class="form-control required viewpass-input" data-view="false" aria-required="true" minlength="8" maxlength="20">*@
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="offset-md-2 col-md-8 text-right">

                                    <a href='@Url.Action("Index", "Account")' class='btn btn-white'><i class="fa fa-times"></i> Cancelar</a>
                                    <button type="button" value="Crear" class="btn btn-color" onclick="validarDatos();"><i class="fa fa-save"></i> Validar RFC</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/plugins/cropper/cropper.min.js"></script>
    <script type="text/javascript">
        let contadorLlamadasSAT = 0;
        $(document).ready(function () {
            $("#RFC").keyup(function () {
                this.value = this.value.toUpperCase();
            });
            //var input = $(".viewpass-input");
            $(".viewpass").mouseup(function () {
                $(".viewpass-input").attr('type', 'password').data("view", false);
            }).mousedown(function () {
                if ($(".viewpass-input").val() !== "") {
                    $(".viewpass-input").attr('type', 'text').data("view", true);
                }
            });

            $.validator.addMethod("PasswordTrue",
                function (value, element) {
                    return value.match(/^(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/);
                }, "La contraseña debe contener al menos un número, mayúsculas, minúsculas y caracteres especiales"
            );
            $.validator.addMethod("ConfirmPassEqPassword",
                function (value, element) {
                    return value == $("#Password").val();
                }, "las contraseñas no coinciden"
            );
            $.validator.addMethod("RFCTrue",
                function (value, element) {
                    return value.match(/^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/);
                }, "Debe ser un RFC válido"
            );

            $("#RegisterRFCForm").validate({
                rules: {
                    RFC: {
                        required: true,
                        RFCTrue: true
                    },
                    CIEC: {
                        required: true
                        //minlength: 8
                    }
                }
            });
        });
        var self = this;

        this.finishValidation = function (uuid) {
            $.get('@Url.Action("AccountValidation")', { uuid: uuid }, function (data) {
                if (data.finish) {
                    if (data.success) {

                        El20Utils.ocultarCargador();
                        let form = document.createElement("form");
                        form.setAttribute("method", "POST");
                        form.setAttribute("action", '@Url.Action("CreateFinish")');

                        let hiddenClave = document.createElement("input");
                        hiddenClave.setAttribute("type", "hidden");
                        hiddenClave.setAttribute("name", "uuid");
                        hiddenClave.setAttribute("value", uuid);
                        form.appendChild(hiddenClave);

                        document.body.appendChild(form);
                        form.submit();

                    }
                    else {
                        El20Utils.ocultarCargador();
                        toastr['error'](data.message, null, { 'positionClass': 'toast-top-center' });
                    }
                }
                else {
                    if (contadorLlamadasSAT < 10) {
                        contadorLlamadasSAT++;
                        setTimeout(self.finishValidation(uuid), 5000);
                    } else {
                        El20Utils.ocultarCargador();
                        toastr['error']("No es posible validar el RFC en el SAT", null, { 'positionClass': 'toast-top-center' });
                    }
                }

            }).fail(function () {
                toastr['error']('No es posible finalizar la creación de la cuenta', null, { 'positionClass': 'toast-top-center' });
                El20Utils.ocultarCargador();
            });
        }



        function validarDatos() {
            var form = $('#RegisterRFCForm');
            if (!form.valid()) {
                return;
            }

            El20Utils.mostrarCargadorForzado();
            $.post(form.attr('action'), form.serialize(), function (data) {
                if (data.success) {
                    $("#uuid").val(data.uuid);
                    self.finishValidation(data.uuid)
                }
                else {
                    toastr['error'](data.message, null, { 'positionClass': 'toast-top-center' });
                    El20Utils.ocultarCargador();
                }
            }).fail(function () {
                toastr['error']('No es posible validar el RFC', null, { 'positionClass': 'toast-top-center' });
                El20Utils.ocultarCargador();
            });

            //$('#RegisterRFCForm').submit();
        }
    </script>
}
